<section>
  <div class="container margin-top-40 margin-bottom-20">
    <div class="row ">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12 blog-detail">
        <header>
          <div class="author">
            <figure>
              <img src="{{blog.logo}}" alt="avatar">
            </figure>
            <div>
              <span class="name">{{blog.author}}</span>
              <div class="sup">
                <span>{{blog.ctime | date: 'medium'}}</span>
                <strong class="tag">{{blog.tag}}</strong>
              </div>
            </div>
          </div>
        </header>
        <div class="">
          <h3 class="title"><strong>{{blog.title}}</strong></h3>
          <div class="col-12 content" [innerHtml]="blog.detail"></div>
        </div>
      </div>
    </div>
  </div>
</section>