<section>
  <div class="container">
    <div class="row flex-center-h padding-top-140">
      <form class="col-md-4 col-sm-6 col-xs-12" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="margin-bottom-24">
          <h3 class="font-24"><strong>Join HoneyMorning today.</strong></h3>
        </div>
        <div class="form-group margin-bottom-24">
          <input type="text" class="form-control" formControlName="name" required placeholder="Full name">
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{formErrors.name}}
          </div>
        </div>
        <div class="form-group margin-bottom-24">
          <input type="email" class="form-control" formControlName="email" required placeholder="Email">
          <div *ngIf="formErrors.email" class="alert alert-danger">
            {{formErrors.email}}
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" required placeholder="Password">
          <div *ngIf="formErrors.password" class="alert alert-danger">
            {{formErrors.password}}
          </div>
        </div>
        <div class="form-group">
          <input type="checkbox" checked> Agree HoneyMorning's Privacy Policy.
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-lg btn-primary" [disabled]="!userForm.valid">Sign up</button> 
        </div>
      </form>
    </div>
  </div>
</section>