<section>
  <div class="container margin-top-20 margin-bottom-20">
    <div class="row">
      <div class="box bgc-white">
        <form class="col-12">
          <div class="form-group">
            <label for="title" class="font-18">Title</label>
            <input type="text" id="title" name="title" class="form-control form-control-sm" [(ngModel)]="blog.title" placeholder="Enter Title" required>
          </div>
          <div class="form-group">
            <!--Rich Text  -->
            <!--<quill [setDetail]="blog.detail" [editorConfig]="editorConfig" (returnDetail)="getDetailReturn($event)"></quill>-->
            <ckeditor name="ckeditor" [(ngModel)]="blog.detail" [config]="editorConf" [readonly]="false" debounce="500">
            </ckeditor>
          </div>

          <div class="form-group">
            <textarea class="form-control full-width" name="desc" rows="4" [(ngModel)]="blog.desc" placeholder="please input description. Max 255 char." required></textarea>
          </div>

          <div class="form-group">
            <select id="multiSelect" name="selectedTags" class="form-control form-control-lg" [(ngModel)]="blog.tag" required>
            <option *ngFor="let t of blogTags" [value]="t.name">{{t.name}}</option>
          </select>
          </div>

          <div class="form-group text-center">
            <a href="JavaScript: void(0)" (click)="publishStory()" class="btn btn-primary btn-lg">Publish Story</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>