// 这里只包含 width, height, padding, margin的设置
$numlist: 4, 6, 8, 10, 16, 20, 24, 32, 40, 48, 60;
$directions: 'top', 'right', 'bottom', 'left';

.full-width {
  width: 100%;
}

// Padding
.no-padding {
  padding: 0;
}

.no-padding-l {
  padding-left: 0;
}

.no-padding-r {
  padding-right: 0;
}

// Margin
.no-margin {
  margin: auto;
}

.no-margin-l {
  margin-left: auto;
}

.no-margin-r {
  margin-right: auto;
}

@each $direction in $directions {
  @each $num in $numlist {
    .margin-#{$direction}-#{$num} {
      margin-#{$direction}: #{$num / 10}rem;
    }
  }
}
