// 设置页面Html的基本样式

html {
  box-sizing: border-box;
  font-size: 65%;
  height: 100%;
}

body {
  background-color: $bodycolor;
  color: $white;
  display: flex;
  flex-direction: row;
  font-family: $body-family;
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
