// 这里只包含 width, height, padding, margin, font的设置
$numlist: 4, 6, 8, 10, 12, 14, 16, 18, 20, 24, 32, 40, 48, 60, 140;
$directions: 'top', 'right', 'bottom', 'left';

.full-width {
    width: 100%;
}

// Padding
.no-padding {
    padding: 0;
}

.no-padding-l {
    padding-left: 0;
}

.no-padding-r {
    padding-right: 0;
}

// Margin
.no-margin {
    margin: auto;
}

.no-margin-l {
    margin-left: auto;
}

.no-margin-r {
    margin-right: auto;
}

// 定义Margin, Padding class
@mixin container($name) {
    @each $direction in $directions {
        @each $num in $numlist {
            .#{$name}-#{$direction}-#{$num} {
                #{$name}-#{$direction}: #{$num / 10}rem;
            }

            .#{$name}-#{$num} {
                #{$name}: #{$num / 10}rem;
            }
        }
    }
}

@include container('margin');
@include container('padding');

@each $size in $numlist {
    .font-#{$size} {
        font-size: #{$size/10}rem;
    }
}

.full-height {
    height: 100%;
}
