// 定义主题主色调及部分颜色

$themecolor: #393e46;
$shadowcolor: #222831;

$lightcolor: #00adb5;
$lightgray: #eee;

$text-light: $lightgray;

$white: #fff;
$dark: $themecolor;
$blue: #00adb5;
$red: #b83b5e !default;
$orange: #f08a5d !default;
