// 定义主题主色调及部分颜色
// $themecolor: #393e46;
// $shadowcolor: #222831;
// $lightcolor: #00adb5;
// $lightgray: #eee;

// Plain color
$white: #eee !default;
$dark: #222831 !default;
$blue: #00adb5 !default;
$red: #b83b5e !default;
$orange: #f08a5d !default;
$gray: #666 !default;
$gray-ddd: #ddd !default;

// Semantic color
$bodycolor: #f0f4f8 !default;
