// 响应式布局 Responsive web design RWD
.container {
  margin-left: auto;
  margin-right: auto;

  @media all and (min-width: 1200px) {
    width: 1200px;
  }
  @media all and (max-width: 1199px) {
    width: 100%;
  }
}

.box {
  border-radius: 2px;
  padding: 10px;
  width: 100%;

  &.box-shadow {
    box-shadow: 2px 2px 6px $shadowcolor;
  }

  .box-header {

    h3.box-title {
      font-size: 1.6rem;
      margin: auto;
    }

    .with-border {
      border-bottom: 2px solid $gray-ddd;
    }
  }

  .box-body {
    padding: 10px 0;
  }

  .box-footer {
    border-top: .1rem solid $gray-ddd;
    padding: 20px 0 10px;
  }
}

.box-red {
  background-color: $red;
  color: $white;
}

.box-white {
  background-color: $white;
  color: $themecolor;
}

.box-theme {
  background-color: $highlightcolor;
  color: $shadowcolor;
}

.wisdom-box {
  font-size: 1.6rem;

  p {
    margin: auto;
  }

  .wisdom-author {
    display: flex;
    font-family: $header-nav-family;
    justify-content: flex-end;
  }
}

.btn {
  border-radius: .2rem;
  padding: .4rem 1.6rem;

  &.btn-theme {
    &:hover {
      background-color: $shadowcolor;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  &.table {
    tr {
      line-height: 2;
    }
    td,
    th {
      padding: .8rem;
      text-align: left;
    }
    td {
      border-top: .1rem solid $gray-ddd;
      
      & a {
        text-decoration: none;
      }
    }
  }

  &.table-hover {
    tr:hover {
      &>td {
        background-color: $highlightcolor;
        transition: background-color .2s ease-in;
      }
    }
  }
}


