<section>
  <div class="container margin-top-20 margin-bottom-20">
    <div class="row">
      <form class="col-12">
        <div class="form-group">
          <label for="title" class="font-18">Title</label>
          <input type="text" id="title" class="form-control form-control-sm" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <!--Rich Text  -->
          <quill></quill>
        </div>

        <div class="form-group">
          tags.
        </div>

        <div class="form-group">
          <a href="" class="btn btn-outline-success">Submit</a>
        </div>
      </form>
    </div>
  </div>
</section>