<section class="margin-top-20 margin-bottom-20">
  <div class="container">
    <div class="row flex-column">
      <header>
        <h3 class="font-20 padding-10">Record your own Story. <a class="btn btn-outline-primary pull-right" (click)="createStory()">Write Story</a></h3>
      </header>

      <div class="row margin-top-4">
        <!--New Story-->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">New Story</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 margin-bottom-12" *ngFor="let blog of blogs">
                  <div class="blog-list">
                    <figure>
                      <img src="{{blog.coverImage}}" alt="StoryLogo">
                    </figure>
                    <div class="blog-content">
                      <h3 class=""><a [routerLink]="['detail', blog.titleId]">{{blog.title}}</a></h3>
                      <p>{{blog.summary}}</p>
                      <div class="author">
                        <a href="">
                          <img src="{{blog.logo}}" alt="UserLogo">
                        </a>
                        <div class="author-info">
                          <div><a href="">{{blog.author}}</a></div>
                          <div><span>{{blog.ctime | date: 'y-MM-dd'}}</span></div>
                        </div>
                        <div class="">
                          <a href=""><i class="fa fa-heart-o"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!--<div class="box-footer">
              More
            </div>-->
          </div>
        </div>

        <!--Hot Story-->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Blog Aanlyze</h3>
            </div>
            <div class="box-body">
              <cv-chart [chartData]="monthTrendData"></cv-chart>
              <cv-chart [chartData]="tagsAnalyzeData"></cv-chart>
            </div>
            <div class="box-footer">
              More are coming...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>