$chatbgc: rgba(255, 255, 255, .8);
$shadowcolor: #222;
$name: hsla(0, 0%, 6.7%, .6);
$msg: hsl(0, 0%, 6.7%);

.chat {
  background-color: $chatbgc;
  box-shadow: inset 0 0 1rem $shadowcolor;
  height: 40rem;
  overflow-y: scroll;
  padding: 1rem;

  &>ul {
    margin: auto;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      font-size: 1.3rem;
      justify-content: flex-start;
      line-height: 1.6rem;
      padding: .4rem 1rem;

      .name {
        color: $name;
        margin-right: .8rem;
      }
      .msg {
        color: $msg;
        word-break: break-all;
      }

      &.reverse {
        flex-direction: row-reverse;
        float: right;
      }
    }
  }

  figure {
    margin: 0 1.6rem 0 0;

    img {
      border-radius: 15px;
    }
  }
}

@keyframes changebg {
  // from {background: lightseagreen}
  // to {background: lightcyan}
  0% {background: lightcoral}
  // // 25% {background: darkgoldenrod}
  75% {background: lightseagreen}
  // // 75% {background: lightcoral}
  100% {background: lightcoral}
}

.colorful-dot {
  animation: changebg 4s ease infinite;
  background: lightseagreen;
  border-radius: .6rem;
  display: inline-flex;
  height: 1.2rem;
  margin: auto .6rem;
  width: 1.2rem;
}
