@import '../../assets/scss/color';
@import '../../assets/scss/font-family';

.login-bg {
  background-color: $dark;
  background-image: url('src/assets/images/usercenter/login_bg_2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.mat-card-header .mat-card-title {
  font-family: 'Dancing Script', cursive;
  font-size: 2.8rem;
}

.mat-card {
  box-shadow: .3rem .3rem .3rem $dark, .3rem -0.3rem .3rem $dark, -0.3rem -0.3rem .3rem $dark, -0.3rem .3rem .3rem $dark;
  padding: 0;
}

.starme {
  position: relative;

  a {
    color: $white;
    background-color: $red;
    padding-left: 3rem;
    padding-right: 3rem;
    position: absolute;
    left: -2.4rem;
    top: 1rem;
    transform: rotate(-45deg);
    transition-delay: 1s;
    font-family: $tip-family;
  }
}