<section class="containerX">
  <div class="container">
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" class="">
      <md-card fxFlex>
        <md-card-header>
          <md-card-title>Welcome Login CV</md-card-title>
        </md-card-header>

        <md-card-content>
          <form>
            <p>
              <md-input-container>
                <input type="" name="" value="" mdInput placeholder="Name">
              </md-input-container>
            </p>
          </form>
        </md-card-content>

        <md-card-actions>
          <button type="" md-button>Log In</button>
        </md-card-actions>

        <md-card-footer>
          <button md-button>Sign Up</button>
          <button md-button>Forget Password?</button>
        </md-card-footer>
      </md-card>
      <md-card fxFlex>
        right content.
      </md-card>
    </div>
  </div>

</section>