<section class="full-height">
  <div class="container full-height">
    <div class="row flex-center full-height">
      <div class="card card-login text-center col-md-4 col-sm-6 col-xs-12 no-padding">
        <img src="../../assets/images/usercenter/login_bg_2.jpg" alt="Login" class="card0img-top">
        <div class="card-block">
          <button class="btn btn-primary font-14" (click)="loginWithGithub()"><i class="fa fa-github font-12"></i> GitHub Login</button>
        </div>
      </div>
    </div>
  </div>
</section>