<section class="full-height">
  <div class="container full-height">
    <div class="row flex-center full-height">
      <div class="card card-login text-center col-lg-4 col-md-6 col-sm-8 col-xs-12 padding-top-20 padding-bottom-20">
        <!--<img src="../../assets/images/usercenter/login_bg_2.jpg" alt="Login" class="card0img-top">-->
        <form (ngSubmit)="onSubmit()" [formGroup]="userForm" novalidate>
          <div class="form-group margin-bottom-24">
            <h3 class="text-center font-22"><strong>Welcome To HoneyMorning</strong></h3>
          </div>

          <mat-form-field class="full-width font-16">
            <input type="text" matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email" required>
            <mat-error *ngIf="formErrors.email">
              {{formErrors.email}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width font-16">
            <input type="password" matInput placeholder="Password" formControlName="password" [(ngModel)]="user.password" required>
            <mat-error *ngIf="formErrors.password">
              {{formErrors.password}}
            </mat-error>
          </mat-form-field>

          <div class="form-group">
            <hm-geetest></hm-geetest>
          </div>

          <div class="form-group text-left">
            <mat-checkbox>Remember me!</mat-checkbox>
          </div>

          <div class="form-group">
            <button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid" class="font-14 full-width">Log in</button>
          </div>
        </form>
        <div class="card-block">
          <button class="btn btn-secondary font-14" (click)="loginWithGithub()"><i class="fa fa-github font-12"></i> Log in with Github</button>
        </div>
      </div>
    </div>
  </div>
</section>