.cv-content {
  flex: 1;
  margin-top: 6rem;
}

main {
  display: block;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  padding: 1em;
  text-align: center;
}

h1 {
  font-family: 'Tangerine', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4.8rem;
}
