<!--公共顶部-->
<header class="cv-header fixed-top">
  <!--<div class="container">-->
    <nav class="navbar navbar-light navbar-expand-lg">
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/images/hm.svg" width="30" height="30" alt="">
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="/" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/blogs" routerLinkActive="active" >Blog</a>
          </li>
          <li class="nav-item">
            <a routerLink="/chat" routerLinkActive="active" >Chat</a>
          </li>
          <li class="nav-item">
            <a routerLink="/game" routerLinkActive="active" >Game</a>
          </li>
          <li class="nav-item">
            <a routerLink="/game3d" routerLinkActive="active" >3D Game</a>
          </li>
        </ul>
        <form class="form-inline">
          <a routerLink="/login" *ngIf="!userInfo" routerLinkActive="active" class="text-blue">Log in</a>
          <a routerLink="/signup" *ngIf="!userInfo" routerLinkActive="active" class="text-secondary">Sign up</a>
          <a class="no-padding font-14" *ngIf="userInfo">
            <img src="{{userInfo.logo}}" alt="Logo" width="26" height="26" style="border-radius: 13px;" class="">
            <span>{{userInfo.name}}</span>
          </a>
          <a href="JavaScript: void(0)" class="no-padding font-14 btn btn-theme" *ngIf="userInfo" (click)="logout()">Logout</a>
        </form>
      </div>
    </nav>
  <!--</div>-->
</header>

<!--路由-->
<section class="cv-content">
  <!--根路由-->
  <router-outlet></router-outlet>
</section>

<!--公共底部-->
<footer class="cv-footer">
  <small>© 2017 honeymorning.com 版权所有 ICP证: 京ICP备16053636号</small>
  <a href="https://twitter.com/TaylorPzreal" target="_blank"><i class="fa fa-twitter-square text-blue"></i></a>
  <a href="https://www.facebook.com/TaylorPzrealHome" target="_blank"><i class="fa fa-facebook-square text-orange"></i></a>
  <a href="https://github.com/TaylorPzreal" target="_blank"><i class="fa fa-github-square text-warning"></i></a>
  <a class="text-success"><i class="fa fa-email"></i> taylorpzreal@gmail.com</a>
</footer>