$bordercolor: rgba(0, 0, 0, .1);
$authorcolor: rgba(0, 0, 0, .8);
$subcolor: rgba(0, 0, 0, .44);

.blog-list {
  border: .1rem solid $bordercolor;
  border-radius: .2rem;
  border-top: 0;
  overflow: hidden;

  &>figure {
    height: 120px;
    overflow: hidden;

    &>img {
      max-width: 100%;
      transition: all .4s ease-in-out;
    }
    &:hover {
      &>img {
        transform: scale(1.1);
        transition: transform .5s ease;
      }
    }
  }


  &>.blog-content {
    padding: 2rem;

    & img {
      border-radius: 2rem;
      height: 4rem;
      margin-right: 1rem;
      width: 4rem;
    }

    & .author {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      & .author-info {
        a {
          color: $authorcolor;
        }
        span {
          color: $subcolor;
        }
      }

      & div:last-child {
        flex: 1;
        text-align: right;
      }
    }
  }
}
