<section>
  <div class="container margin-top-40 margin-bottom-20">
    <div class="row justify-content-md-center justify-content-lg-center">
      <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 blog-detail">
        <header class="flex justify-content-between">
          <div class="author">
            <figure>
              <img src="{{blog.logo}}" alt="avatar">
            </figure>
            <div class="author-info">
              <span class="name">{{blog.author}}</span>
              <div class="sup">
                <span>{{blog.createTime | date: 'y-MM-dd HH:mm:ss'}}</span>
                <strong class="tag">{{blog.tag}}</strong>
              </div>
            </div>
          </div>

          <hm-share shareDesc="{{blog.summary}}" sharePic="{{blog.coverImage}}"></hm-share>
        </header>
        <div class="">
          <h3 class="title"><strong>{{blog.title}}</strong></h3>
          <div class="col-12 content" [innerHtml]="blog.detail | trustHTML"></div>
        </div>
      </div>
    </div>
  </div>
</section>
