<section class="container">
  <div class="row flex-column padding-10">
    <header>
      <!--每日一言-->
      <div class="text-warning">
        <h3 class="text-blue">每日一言</h3>
        <span>只要持续地努力，不懈的奋斗，就没有征服不了的东西。</span>
        <span> -- 2017-10-11</span>
      </div>

      <!--view count-->
      <div class="row flex justify-content-between margin-top-20">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="statistic-box">
            <div class="statistic-header bg-green">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <div class="statistic-body">
              <p>累计访问量</p>
              <h3>30</h3>
            </div>
            <div class="statistic-footer">
              <i class="fa fa-clock-o"></i>
              <!--<a href="">上周统计</a>-->
              <span>上周统计</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="statistic-box">
            <div class="statistic-header bg-red">
              <i class="fa fa-file" aria-hidden="true"></i>
            </div>
            <div class="statistic-body">
              <p>博客总数</p>
              <h3>30</h3>
            </div>
            <div class="statistic-footer">
              <i class="fa fa-clock-o"></i>
              <!--<a href="">上周统计</a>-->
              <span>历史统计</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="statistic-box">
            <div class="statistic-header bg-blue">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </div>
            <div class="statistic-body">
              <p>今日新增博客</p>
              <h3>+3</h3>
            </div>
            <div class="statistic-footer">
              <i class="fa fa-clock-o"></i>
              <!--<a href="">上周统计</a>-->
              <span>实时统计</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="statistic-box">
            <div class="statistic-header bg-origin">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="statistic-body">
              <p>用户总量</p>
              <h3>30</h3>
            </div>
            <div class="statistic-footer">
              <i class="fa fa-clock-o"></i>
              <!--<a href="">上周统计</a>-->
              <span>历史统计</span>
            </div>
          </div>
        </div>

      </div>
    </header>

    <!--content-->
    <div>
      <!--article-->
      <div>
        <div>

        </div>
      </div>

      <!--micro-->
      <div></div>
    </div>

    <!--AI-->
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-blue">Deeplearn</h4>
        <p>AI,Deeplearn,MachaneLearning is coming</p>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</section>