<section class="container">
  <div class="row flex-column padding-10 text-blue">
    <header>
      <h3 class="padding-left-20">We are reconstructing the website homepage ...</h3>
    </header>
  </div>
</section>

<section class="bgc-white">
  <header hidden>
    <div class="">
      <div class="container">
        <div class="box box-theme box-shadow">
          <div class="box-body">
            <div class="wisdom-box">
              <p>God grant me the serenity to accept the things I cannot change, courage to change the things I can, and wisdom to know the difference.</p>
              <span class="wisdom-author">- The Serenity Prayer (Reinhold Niebuhr)</span>
            </div>
          </div>
        </div>
        <div class="weather">
          <div>
            <i [ngClass]="weather.icon"></i>
            <div>
              <div>{{weather.temperature}}</div>
              <div>{{weather.time | date}}</div>
              <div>{{weather.timezone}}</div>
            </div>
          </div>
        </div>
        <div>
          <cv-chart [chartData]="githubJSData">Loading...</cv-chart>
        </div>
      </div>
    </div>
  </header>

  <div class="container" hidden>
    <div class="row margin-bottom-20">
      <div class="col-md-8 col-sm-12 col-xs-12  margin-top-20">
        <div class="box bgc-white">
          <quill [setDetail]="initEditorContent" [editorConfig]="editorConfig" (returnDetail)="getEditorDetail($event)"></quill>
          <div class="margin-top-10 text-right">
            <a href="Javascript: void(0)" (click)="pushIdea()" class="btn btn-primary btn-lg">Push idea</a>
          </div>
        </div>
        <div class="">
          <!--tip-->
          <div class="alert alert-info no-margin font-14 text-center" role="alert">
            <a href="javascript:void(0)" (click)="getNewIdeas()">
            There are <strong  class="text-primary"> 2 </strong>new ideas.
            </a>
          </div>

          <div class="hm-idea" *ngFor="let idea of ideas">
            <figure>
              <img src="{{idea.ulogo}}" alt="Logo">
            </figure>
            <div>
              <!--userinfo-->
              <div class="summary">
                <strong>{{idea.uname}}</strong>
                <i class="fa fa-mortar-board text-blue" aria-hidden="true"></i>
                <span>{{idea.ctime | date: 'y-MM-dd HH:mm:ss'}}</span>
              </div>
              <!--detail-->
              <div class="font-14" [innerHtml]="idea.detail"></div>
              <!--收藏，分享等功能-->
              <div class="collection">
                <a class="text-gray">
                  <i class="fa fa-star-o" aria-hidden="true"></i> <span>{{idea.collection}}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="text-center margin-top-10">
            <a href="javascript: void(0)" (click)="getIdea()" class="btn btn-secondary btn-lg font-14">Get More</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12  margin-top-20">
        <div class="card card-movie">
          <div class="card-header">
            New Movie
          </div>
          <div class="card-block">
            <div class="col-12 no-padding" *ngFor="let movie of topMovies">
              <div class="topMovies">
                <figure>
                  <img class="lazyload" data-src="{{movie.logo}}" alt="">
                </figure>
                <div>
                  <h3><a href="">{{movie.name}}</a></h3>
                  <p><strong>区域: </strong> <span>{{movie.country}}</span></p>
                  <p><strong>类型: </strong> <span>{{movie.type}}</span></p>
                  <p><strong>发布日期: </strong> <span>{{movie.publicDate}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>