<section>
  <header>
    <div class="container">

      <div class="box box-red box-shadow margin-top-20">
        <div class="box-body">
          <div class="wisdom-box">
            <p>God grant me the serenity to accept the things I cannot change, courage to change the things I can, and wisdom to know the difference.</p>
            <span class="wisdom-author">- The Serenity Prayer (Reinhold Niebuhr)</span>
          </div>
        </div>
      </div>



      <div class="box box-white margin-top-20">
        <div class="box-header">
          <h3 class="box-title">New Article</h3>
        </div>
        <div class="box-body">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Visites</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <!--分页  -->
        </div>
      </div>

    </div>
  </header>
</section>