// @import '../../assets/'
$text: rgba(255, 255, 255, .5);

.weather {
  color: $text;
  position: relative;

  & > div {
    align-items: center;
    display: flex;
    float: right;
    padding: 60px 0;
    position: absolute;
    right: 0;
    width: 220px;

    & > i {
      font-size: 64px;
      margin-right: 1rem;
    }

    & > div {
      font-size: 14px;
    }
  }
}
