// @import '../../assets/'
$text: rgba(255, 255, 255, .5);

.weather {
  color: $text;

  & > div {
    align-items: center;
    display: flex;
    float: right;
    padding: 60px 0;
    width: 300px;

    & > i {
      font-size: 82px;
      margin-right: 1rem;
    }

    & > div {
      font-size: 20px;
    }
  }
}
